<h1> Cidades Cadastradas</h1>
<div class="display_cidades">
  <p class="cidades" class="cidades" *ngFor="let c of cidades" >
      <button [routerLink]="['/cidade', c.nome]"  *ngIf="c.situacao==1;else elseBlock"  mat-button color="primary">{{c.nome}}</button>
      <ng-template #elseBlock>
          <button mat-button disabled>{{c.nome}}</button>
      </ng-template>
  </p>
  <br>
  <div class="add_button">
      <button [routerLink]="['/add']" class="aaa"  mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">
          <mat-icon>plus_one</mat-icon>
      </button>
      <button class="maxtemps" [routerLink]="['/max_temps']" class="aaa"  mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">
        <mat-icon>analytics</mat-icon>
    </button>
  </div>
    <br>
    <br>
    <p class="monitorada">Cidades cadastradas e monitoradas</p>
    <p class="desativada">Cidades cadastrada mas sem monitoramento</p>
    <br>
    <br>
    <button mat-raised-button color="primary" (click)="listar()">Refresh</button>
    <button class="ativar" mat-raised-button color="primary" (click)="alterarEstado(cidade)">Desativar cidade</button>
    <input class="inputcid" [(ngModel)] = "cidade" *ngIf="state==true" type="text" placeholder="nome para desativar">
</div>
<app-spinner></app-spinner>
