.cidades{
    display: inline-block;
}
.add_button{
    text-align: center;
}
.cidades{
    text-transform: uppercase;
}
button{
  text-transform: uppercase;
}
h1{
    text-align: center;
    margin-top: 20px;
    color:#3f51b5;
}
.display_cidades{
    width: 700px;
    margin: auto auto;
}
.desativada{

    color: darkgrey;
}
.monitorada{
    color: #3f51b5 ;
    font-weight: bold;
}
.ativar{
  margin-left: 50px;
}
.inputcid{
  margin-left: 30px;
  border-color: rgb(63,81,181);
  padding: 2px;
  text-align: center;
}
.maxtemps{
  margin-left: 60px;
}
