body{
    margin: 0px;
}
h1{
    text-align: center;
    margin-top: 20px;
    color:#3f51b5;
}
.display_cidades{
    width: 700px;
    margin: auto auto;
}
.desativada{

    color: darkgrey;
}
.monitorada{
    color: #3f51b5 ;
    font-weight: bold;
}
